$def with (id, sensors, periods)

<html>
<head>
  <TITLE>Sensors</TITLE>
  <META HTTP-EQUIV="Refresh" CONTENT="300">
  <META HTTP-EQUIV="Cache-Control" content="no-cache">
  <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
  <style>
    body { font-family: Verdana,Tahoma,Arial,Helvetica; font-size:9pt}
    .header { font-size: 16pt; font-weight: 900; }
  </style>
</head>

<body bgcolor="#ffffff" topMargin='5'>
<table>
$for sensor in sensors:
    $for period in periods:
        <tr>
            <td>
            <img src='/static/$(sensor)_$(id)-$(period).png' border='1'>
            </td>
        </tr>
</table>
</body>
